/* @import url('../../images/marker.svg'); */

.bb{ 
    border-bottom: #000000 1px solid;
    width: 375px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: -18px;
}
.navpage{
    width: 100%;
    background-color: #4B4B4B;
    height: 500px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
}
.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt_name{
    color: white;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
.menu_list {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.menu_list a{
    text-decoration: none;
    color: white;
}
.menu_list li {
	list-style-image: url('../../images/marker.svg');
    margin-left: -22px;
}
.img_detail{
    height: 700px;
    width: 600px;
}
