.header{
    width: 100%;
    background-color: #4B4B4B;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.header_alignment{
    display: flex;
    justify-content: space-between; /* Центрирование по горизонтали */
    align-items: center;
    height: 95px;
}
.container{
    width: 1200px;
}

.logotip{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo_txt{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 5px;
}

.slogan_txt{
    color: white;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 19px;
}

.telefon{
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.connect{
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin-top: 19px;
}
.phone_txt{
    margin-left: 10px;
    color: white;
    font-size: 16px;
}
.login_txt{
    margin-left: 47px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}